﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="app1.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
	<a href="RetTxt.ashx">RetTxt.ashx</a>
	<br />

	<a href="RetFile.ashx">RetFile.ashx</a><br />
	<a href="RetCsv.ashx">RetCsv.ashx</a>
</body>
</html>
